<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065093112254-apecjk9vn145m56eu0nc71fvegv9pt2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065093112254-apecjk9vn145m56eu0nc71fvegv9pt2u</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLjpRYpJD_5EU08pLACreYwyohN79P_U</string>
	<key>GCM_SENDER_ID</key>
	<string>1065093112254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nawkarChinmay-Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-ab17d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-ab17d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065093112254:ios:25c0f6373ae4bcf056d9ef</string>
</dict>
</plist>